$dark : #17122d;
$light : #fff;
$primary : #a3ecfb;
$secondary : #68dca0;
$tertiary : #6f74de;

:export {
    dark: $dark;
    light: $light;
    primary: $primary;
    secondary: $secondary;
    tertiary: $tertiary;
}